@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  font-family: 'Roboto', sans-serif;
}

body {
	background: rgb(252,140,189);
	background: radial-gradient(circle, rgba(252,140,189,1) 0%, rgba(148,187,233,1) 100%);
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
	appearance: none;
	margin: 0;
}

.bg-input, .bg-input:focus, .bg-input:hover {
	background-color: lightskyblue;
}

.text-readonly, .text-readonly:focus, .text-readonly:hover {
	color: purple;
}